[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pytest-watch = "*"

[packages]
flask = "*"
flask-socketio = "*"
requests = "*"
flask-restful = "*"
flask-jwt = "*"
flask-sqlalchemy = "*"
redis = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
